[Unit]
Description=Web Zulip application form backend
After=network.target

[Service]
Type=simple
User=zulip
Group=zulip
WorkingDirectory=__APP_ROOT__/app
Environment=APPLICATION_FIELDS_PATH=__FIELDS_FILE__
ExecStart=__APP_ROOT__/.venv/bin/gunicorn --workers 2 --bind 127.0.0.1:8793 app:app
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
